# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# IDE
.vscode/
.idea/

# Environment
myenv/
.env
.venv/
myenv/

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Notebook
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/subset/

# MLflow
mlruns/

# DVC
.dvc/cache/

# VSCode
.vscode/

# PyCharm
.idea/